$main = #26da62

$main_hover = #2c9e52

body
	margin 0
	padding 0
	

.center-block
	width 330px
	min-height 10px
	
	padding 10px
	
	border 1px solid #e7e7e7
	
	border-radius 4px
	
	box-shadow 1px 1px 2px #000
	margin 5% auto
	
.error-message
	width 100%
	padding 4px
	font-size 1em
	font-family "Roboto", sans-serif
	color red
	
	border 1px solid red
	border-radius 10px
	
	background-color rgba(255,0,0,0.2)


.dx-form
	width 100%
	padding 10px
	
	small 
		margin 0 
		padding 0 
		
		font-size 0.8em
		color rgba(0,0,0,.45)
		
		font-family Helvetica, sans-serif
	
	input
		width 100%
		padding 2px 4px
		
		margin 4px 0 
		font-size 1.1em
		
		color rgba(0,0,0,0.45)
		
		outline-color $main
		
		&:focus
			color #000
			
.ms-notice 
	
	width 300px
	position absolute
	
	padding 15px
	
	bottom 0 
	right 0 
	
	border 1px solid #e7e7e7
	
	border-left 3px solid red
	
	margin 0 

	background-color #fff

	.ms-success
		border-left 3px solid green

		h3 
			color green
	
	.ms-close
		
		position absolute
		top 0 
		right 0 
		border 0 
		background-color transparent
		color rgba(0,0,0,0.35)
		
		outline none
		
		font-size 1.2em
		
		&:hover
			color #000
	
	h3
		text-transform uppercase
		color red
		margin 4px 0
		padding 0 
		
	p
		color #000
		font-size 1em


.loading_block

	position fixed

	top 30%
	left calc(50% - 240px)
	width 450px
	min-height 1px

	padding 15px

	border 1px solid #e7e7e7
	background-color white
	z-index 1000

	&._success
		border-color green

		i
			color green

	i
		font-size 4em
		color #000

	span 
		font-size 1.6em
		line-height 15px
.__header

	padding 40px 200px
	margin 0 
	display block

	h1
		text-align right

nav.__nav
	width 100%

	ul
		margin 0
		padding 0

		text-align center

		li

			display inline-block
			list-style none

			&:nth-child(odd)
				margin 0 1px	

			padding 15px 10px
			text-align center
			transition all .5s ease-in-out
			background-color $main

			&:hover

				background-color $main_hover

			a
				color #fff
				font-size 1.1em

				text-transform uppercase

				text-decoration none

				font-family "Helvetica", sans-serif