body {
  margin: 0;
  background-image: url("/muzschool/public/images/bg.jpg");
}
.__wrapper {
  display: block;
}
.MainContainer {
  background-color: rgba(232,232,190,0.6);
}
section#main {
  background-color: rgba(232,232,190,0.6);
  padding: 10px 0;
  padding-top: 0px;
}
._welcome_bg {
  background-size: cover;
  width: 100%;
  min-height: 520px;
  background-attachment: fixed;
  background-position: center;
}
.center-block {
  width: 330px;
  min-height: 10px;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #000;
  margin: 5% auto;
}
.error-message {
  width: 100%;
  padding: 4px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 10px;
  background-color: rgba(255,0,0,0.2);
}
.dx-form {
  width: 100%;
  padding: 10px;
}
.dx-form small {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: rgba(0,0,0,0.45);
  font-family: Helvetica, sans-serif;
}
.dx-form input {
  width: 100%;
  padding: 2px 4px;
  margin: 4px 0;
  font-size: 1.1em;
  color: rgba(0,0,0,0.45);
  outline-color: #8bc34a;
}
.dx-form input:focus {
  color: #000;
}
.ms-notice {
  width: 300px;
  position: absolute;
  padding: 15px;
  bottom: 0;
  right: 0;
  border: 1px solid #e7e7e7;
  border-left: 3px solid #f00;
  margin: 0;
  background-color: #fff;
}
.ms-notice .ms-success {
  border-left: 3px solid #008000;
}
.ms-notice .ms-success h3 {
  color: #008000;
}
.ms-notice .ms-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  color: rgba(0,0,0,0.35);
  outline: none;
  font-size: 1.2em;
}
.ms-notice .ms-close:hover {
  color: #000;
}
.ms-notice h3 {
  text-transform: uppercase;
  color: #f00;
  margin: 4px 0;
  padding: 0;
}
.ms-notice p {
  color: #000;
  font-size: 1em;
}
.loading_block {
  position: fixed;
  top: 30%;
  left: calc(50% - 240px);
  width: 450px;
  min-height: 1px;
  padding: 15px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  z-index: 1000;
}
.loading_block._success {
  border-color: #008000;
}
.loading_block._success i {
  color: #008000;
}
.loading_block i {
  font-size: 4em;
  color: #000;
}
.loading_block span {
  font-size: 1.6em;
  line-height: 15px;
}
._header_image {
  margin: 20px;
  width: 300px;
  min-height: 1px;
  position: relative;
  display: block;
  border: 15px solid #fff;
  border-radius: 20px;
}
._header_image img {
  width: 270px;
  height: auto;
}
.__header {
  padding: 40px 50px;
  margin: 0;
  display: block;
}
.__header .req_quote {
  font-family: "Comfortaa", cursive;
  margin: 10px auto;
  width: 420px;
  min-height: 1px;
  padding: 10px;
  background-color: rgba(255,255,255,0.9);
  text-align: left;
  font-size: 22px;
}
.__header .req_quote ._author {
  display: block;
  text-align: right;
  font-size: 18px;
}
.__header .req_quote ._author img {
  width: 48px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #8bc34a;
}
.__header h1 {
  text-align: center;
  color: #fff;
  font-family: 'Lobster', cursive;
}
.__header h1 img {
  width: 64px;
  height: auto;
  transform: scale(1.1);
}
.__header h1 img:hover {
  animation: keyBounce 1s linear forwards;
}
.__header h2 {
  font-size: 16px;
  font-family: $roboto;
  font-weight: bolder;
  text-align: center;
  color: #fff;
}
nav.__nav {
  width: 100%;
  padding: 6px 0;
}
nav.__nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav.__nav ul li {
  display: inline-block;
  list-style: none;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  border-radius: 3px;
  background: -webkit-linear-gradient(#8bc34a, #4caf50);
  background: -o-linear-gradient(#8bc34a, #4caf50);
  background: -moz-linear-gradient(#8bc34a, #4caf50);
  background: linear-gradient(#8bc34a, #4caf50);
  background: -o-linear-gradient(#4caf50, #8bc34a);
  background: -moz-linear-gradient(#4caf50, #8bc34a);
  background: linear-gradient(#4caf50, #8bc34a);
}
nav.__nav ul li:nth-child(odd) {
  margin: 0 1px;
}
nav.__nav ul li:nth-child(even) {
  margin: 0 0;
}
nav.__nav ul li:hover {
  background: -webkit-linear-gradient(#4caf50, #8bc34a);
}
nav.__nav ul li a {
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
}
.__quotes {
  position: relative;
  display: block;
  margin: 50px 10px 0 10px;
  padding: 20px;
  background-color: #f3f3f3;
}
.__quotes q {
  font-size: 1.2em;
  font-style: italic;
}
.__quotes::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #8bc34a;
  left: 0;
  bottom: 0;
}
._footer {
  position: relative;
  width: 100%;
  height: 125px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/footer.jpg");
}
._footer ._filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  font-size: 18px;
}
@-moz-keyframes keyBounce {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(-15deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
@-webkit-keyframes keyBounce {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(-15deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
@-o-keyframes keyBounce {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(-15deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
@keyframes keyBounce {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  25% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(-15deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
